body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #230000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  background-color: black;
  width: 100%;
  margin-bottom: 3%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 4fr;
  column-gap: 2%;
  transition: 2s;
}

.rotten-tomatillos {
  font-family: Bebas Neue;
  font-size: 50px!important;
  margin: 2%;
}

.header-text {
  color: silver;
  font-size: 30px;
  padding: 1%;
  font-weight: bold;
  text-align: right;
  margin-top: auto;
  margin-bottom: auto;
}

.header-link {
  text-decoration: none;
  font-family: Bebas Neue;
}

.header-link:hover {
  font-family: Bebas Neue;
  font-size: 40px;
}

.login-message {
  padding: 0% 3% 3% 0%;
  margin: 0%!important;
}

label {
  color: #f2f2f2;
  font-weight: bold;
}

input {
  height: 30px;
  outline: none;
  padding: 0;
  padding-left: 5px;
  width: 20em;
}

.movie-cards {
  padding: 1%;
  margin: 1%;
  width: 100%;
  max-width: 100%;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-card {
  background: black;
  border: 4px solid silver;
  border-radius: 5px;
  padding: 2%;
  margin: 2%;
  width: 20%;
  height: auto;
  transition: transform .2s;
}

.movie-card:hover {
  transform: scale(1.08);
}

.movie-title {
  color: #f2f2f2;
}

.movie-date {
  color: #f2f2f2;
  font-size: 20px;
  line-height: .7;
}

.movie-poster {
  box-shadow: 0 0 10px #f2f2f2;
  background: silver;
  height: 250px;
  max-width: auto;
  padding: 1%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.movie-rating {
  text-align: left;
  line-height: 1;
  font-size: 20px;
  color: #f2f2f2;
}

.login-form {
  display: flex;
  justify-content: center;
  border: 4px solid silver;
  background: black;
  border-radius: 5px;
  align-items: center;
  flex-direction: column;
  max-width: 70%;
  height: 400px;
  margin-top: 80px;
  position: relative;
  width: 55%;
  z-index: 2;
  flex-flow: row wrap;
}

.login-area {
  padding: 15px;
  width: 100%;
  display: grid;
  grid-gap: 10px;
  justify-content: center;
}

.display-box {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 70vh;
}

.single-movie-area {
  color: white;
  padding: 1%;
}

.single-movie-info {
  font-weight: bold
}

.single-movie-area section {
  justify-content: space-between;
}

.movie-main-top {
  display: flex;
  flex-direction: row;
  height: 60%;
}

.movie-main-top-left {

 text-align: left;
 border: 3px solid silver;
 background: #230000;
 padding: 1%;
 font-size: 20px;
}

.movie-main-top-right {
  align-items: right;
}

.single-movie-poster {
  border: 3px solid silver;
  background: silver;
  height: 360px;
  max-width: auto;
  padding: 1%;
  display: block;
  margin: 1%;
}

.movie-main-bottom {
  text-align: left;
  border: 3px solid silver;
  background: #230000;
  padding: 1%;
  margin-top: 1%;
  font-size: 20px;
  line-height: 1.5;
}

.movie-link:link {
  text-decoration: none;
  color: black;
  background-color: #f2f2f2;
  padding: 2%;
  border-radius: 3px;
  font-family: Bebas Neue;
}

.movie-link:hover {
  font-weight: bold;
}

.show-page-button {
  font-size: 15px;
  text-decoration: none;
  color: black;
  background-color: #f2f2f2;
  padding: 1%;
  border-radius: 3px;
  margin: 1%;
  font-family: Bebas Neue;
}

.show-page-button:hover {
  font-weight: bold;
}

.back-button {
  font-size: 15px;
  text-decoration: none;
  color: black;
  background-color: #f2f2f2;
  padding: 1%;
  border: 3px black solid;
  border-radius: 3px;
  margin: 1%;
  font-family: Bebas Neue;
}

.user-form {
  font-size: 20px;
  align-content: center;
}

.user-form-input {
  font-size: 20px;
  align-self: center;
}

.login-message {
  color: white;
}
